@font-face {
    font-family: 'Munson';
    src: url('/Webfonts/Munson_Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Munson';
    src: url('/Webfonts/Munson_BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Munson';
    src: url('/Webfonts/Munson_Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Munson';
    src: url('/Webfonts/Munson_Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d8dbe2;
	background-image: 
		repeating-radial-gradient(circle at 0 100%, rgba(27,27,30, 0.1), rgba(88,164,176, 0.15) 1px, rgba(216,219,226, 0.2) 2px, rgba(88,164,176, 0.15) 3px, rgba(27,27,30, 0.1) 4px), 
		radial-gradient(circle at 0 100%, #d8dbe2, #a9bcd0, #58a4b0, #40495f, #2a2a30);
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h1 {
    animation: fadeIn 0.25s ease-in-out;
    color: #3d5475;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  h2 {
    color: #5b6879;
  }

  p {
    color: #5b6879;
  }